body {
    font-family: "Roboto", Times, serif;
    margin: 0px;
}

.container1 {
    background-color: #1F2937;
    padding: 15px 100px;
    padding-bottom: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.logo {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 24px;
}

.header-list {

    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.logo, .header-list{
    margin: 0px;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {  
    list-style-type: none;  
    }  

.main-content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 50px;
}

.main-content > img {
    width: 400px; 
    height: 250px; 
    object-fit: cover;
    object-position: 50% 60%;
}

.main-text > h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}

.main-text > p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.main-text > button {
    background: #3882F6;
    color: #F9FAF8;
    border:none;
    border-radius: 2px;
    padding: 4px 16px;
}

.container2 {
    padding: 0px 100px;
    padding-bottom: 75px;
}

.container2 > h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px 0px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.info {
    max-width: 175px;
    text-align: center;
}

.info > p {
    color: #363636;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0px;
}

.info > img {
    width: 175px; 
    height: 175px; 
    object-fit: cover;
    object-position: 50% 25%;
    border: 7px solid #3882F6;
    border-radius: 20px;
}

.container3 {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 75px 100px;
}

.quote {
    max-width: 800px;
}

.quote > p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 0;
    font-style: italic;
}

.quote > h1 {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-size: 28px;
    font-weight: 800;
}
